.card-list {
  display: inline-flex;
  justify-content: flex-start;
  width: 1500px;
  height: 800px;
  scroll-behavior: smooth;
  overflow: auto;
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /* Firefox 64 */
}

.card-list::-webkit-scrollbar {
  width: 0;
}
