.products-list {
  display: inline-flex;
  justify-content: flex-start;
  width: 1500px;
  height: 800px;
  scroll-behavior: smooth;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.products-list::-webkit-scrollbar {
  width: 0;
}
