.product {
  margin: 30px;
  //remove
  //
  min-width: 300px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 10px 0 rgb(172, 164, 164);
  background-color: white;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    box-shadow: 0 10px 10px 0 rgb(97, 4, 139);
  }

  .image-container {
    height: 50%;
    .product-picture {
      border-radius: 10px;
      width: 250px;
      height: 200px;
    }
  }
  .description {
    height: 40%;
    width: 90%;
    display: flex;
    flex-direction: column;

    .author {
      display: flex;
      flex-direction: row;

      img {
        border-radius: 50px;
      }

      .author-name {
        margin-left: 15px;
        font-size: 20px;
      }
    }
  }
  .prices-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    text-transform: uppercase;
    .prices {
      width: 50%;
      display: flex;
      flex-direction: row;
      font-weight: 900;

      .usd-currency {
        color: red;
        margin-left: 10px;
      }
    }
    .items-sold {
      p {
        margin: 0;
      }
    }
  }
}
