.arrow-button {
  margin: 30px;
  padding: 20px;
  font-size: 42px;
  color: var(--var-white);
  background-color: var(--var-black);
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--var-light-grey);
  }
}
